[2016-12-23 02:52] crashtech opened #1 "Enum - Nil should be an Enum value"
Allow nil to be turn into an Enum value so it's able to use methods like:
[code]

[2016-12-23 16:51] #1 closed

[2017-04-12 03:46] crashtech opened #2 "Values are not autoloaded when model's field was not started"
It's not able the following without any instance being created before it:
[code]

That happens because the enum methods are only created after the schema of the model is loaded. That said, whevener `ActiveRecord::Base` is extended and the `enum.initializer` is set to true, I can either load the schema of the model, or (that has more performance) only identifies those class-related methods that sho

[2017-04-12 03:49] crashtech opened #3 "Allow Distinct On to auto set the order"
Give a setting like `distinct_on.auto_order` and when is set to true and a query statement that has Distinct On is created without an order, auto set the same columns from the Distinct On operator to the order.

[2017-04-12 04:12] crashtech opened #4 "Implement I18n for Interval"
Allows `I18n.localize interval` to be translated into its pieces `1 year, 2 months, 3 days, 4 hours, 6 minutes, and 7 seconds`, use array support and `:one` and `:more` for values.

[2017-04-13 01:33] #4 closed

[2017-04-13 02:03] crashtech commented on #3
Invalid

[2017-04-13 02:03] #3 closed

[2017-04-20 20:59] crashtech opened #6 "Add helper to enum on factories"
Allow something like `Enum.sample(:states)`.

[2017-05-29 04:32] crashtech opened #8 "Table inheritance 'read_attribute' doesn't work properly with 'id' attribute on inherited table"
Although the attribute can still be read, inspection or the direct execution of the following doesn't work:
[code]

This only happens because on this method, the 'id' is replaced by the 'primary_key' of the table. Since the primary_key usually comes from the base table, the inherited table doesn't have it.

There may be two approaches. Rewrite the 'read_attribute' method to still try to get the 'i

[2018-08-12 04:00] #8 closed

[2018-08-18 23:44] #2 closed

[2018-08-18 23:44] #6 closed

[2018-08-25 15:54] crashtech opened #10 "Fix integration with annotate"
Annotate and the version 0.2.1 doesn't work together. The problem is that there is something frozen that apparently is blocking one of the operations of it.

[2018-08-25 15:55] crashtech opened #11 "Hide inheritance query from console"
Whenever a model is loaded, there's a query that runs to get inheritance information. Make this query disappear from the console.

[2018-08-25 22:08] #10 closed

[2018-08-27 13:59] #11 closed

[2018-09-05 14:03] crashtech opened #16 "Add #map to enum class"
Be able to iterate over real instances of the enum class, plus be able to `.map` over the values.

[2018-09-05 14:04] crashtech opened #17 "Fix paging issues with extra selected columns"
Find a way to identify if the select is filled with something that can break when working with auxiliary statements columns and/or inheritance

[2018-09-07 18:39] #16 closed

[2018-09-07 18:39] #17 closed

[2018-10-09 17:37] AnthonyDeSimone opened #20 "ArgumentError from load_additional_types"
With the gem installed, every AR query generates this error:

[code]
I'm using:
Rails version 5.2.0.rc2
PG version 1.0.0

[2018-11-01 21:39] mlt commented on #20
Current version isn't compatible with Rails 5.2. You may give a try to my [PR](/crashtech/torque-postgresql/issues/21) (WIP). Although I did not test with Rails 5.2.0 and all checks in the code compare with 5.2.1.

[2018-11-21 07:14] crashtech opened #23 "Auxiliary Statements doesn't work with Inheritance"
Consider

[code]

The following doesn't work:
[code]

The current workaround is the following
[code]

[2018-11-22 12:57] crashtech commented on #20
@AnthonyDeSimone I have just deployed a new version supporting Rails 5.2.1, can you give it a try?

[2018-11-22 12:57] crashtech commented on #20
@AnthonyDeSimone I have just deployed a new version supporting Rails 5.2.1, can you give it a try?

[2018-11-22 12:57] #20 closed

[2018-11-30 18:27] lucasmarques42 opened #24 "cast_record doesn't work with belong and duration cannot be sum with time value"
Consider
[code]

- It is necessary to use 'reload' to work and acess duration
activity.reload.cast_record.duration

- It is necessary to use to_i to work and sum some time value
activity.reload.cast_record.duration.to_i

[2018-12-06 13:31] subtletech opened #25 "enum.base_method configuration has no effect"
I'm on Rails 5.2 and I have ActiveRecord's featured enums in some models. Thus `torque-postgresql` breaks the code by bringing it's own `enum` class method into ActiveRecord::Base.

Have tried to alter the method name as stated in the docs by placing the following code into `application.rb`:
[code]
Which seems to have no effect.

From what I understand, all components of `Torque::PostgreSQL` are r

[2018-12-06 14:24] subtletech opened #26 "ActiveSupport::Duration::ISO8601Parser::ParsingError when working with interval fields under certain curcumstances"
Steps to reproduce:
1. Have an ActiveRecord model with an interval field. Let's say `Event` and `duration`.
2. Invoke statements:
[code]
The last statement `event.duration` chokes with an `ActiveSupport::Duration::ISO8601Parser::ParsingError` exception with message like `Invalid ISO 8601 duration: "P1W4DT13H46M40S" mixing weeks with other date parts not allowed`.

Reason: `ActiveSupport::Duration.

[2018-12-07 23:21] crashtech commented on #26
I opened an [issue on Rails GEM](https://github.com/rails/rails/issues/34655), but I'm also fixing this on the GEM for the next version!
Thanks for reporting this!

[2018-12-07 23:57] crashtech commented on #25
Thanks for reporting this! I'm gonna push a fix later today.

[2018-12-08 17:52] #25 closed

[2018-12-08 17:52] #26 closed

[2018-12-08 19:00] #24 closed

[2018-12-08 19:01] crashtech opened #28 "Enum and inheritance incompatibility"
Enum methods are created only in the source class. To fix this, create a dynamic module for the enum methods and then include that module on the source class.

[2018-12-14 03:03] crashtech opened #29 "User-defined type 'earth' cannot be dumped!"
For some reason, whenever we activate `earthdistance` on PostgreSQL, it tries to dump an additional **ENUM** of type 'earth'. Although all the other types are correctly dumped, a fix is required because `schema.rb` needs to be consistent.

[2019-01-09 16:12] #28 closed

[2019-01-09 16:12] #29 closed

[2019-02-08 01:22] mlt opened #31 "[request] schema-aware disabling of referential integrity while using fixtures"
The problem is that when using fixtures for testing, rails disables referential integrity by using table names only. This requires putting all necessary schema names into a *schema_search_path* in `config/database.yml`. This is quite a PITA to remember. It would be nice if it was done automagically.

Rails calls `ActiveRecord::ConnectionAdapters::PostgreSQL::ReferentialIntegrity#disable_referentia

[2019-02-08 01:37] mlt commented on #31
Aparently, there is https://github.com/rails/rails/issues/30846

[2019-02-19 05:19] crashtech commented on #31
The fix seems reasonable, maybe I can push a new version with this improvement, just as one "good to have" since only in new Rails versions this might get fixed.

Does this works for you?

[2019-02-25 21:27] mlt commented on #31
It does thus far! I would use the one from 5.2 branch not to require newer ruby https://github.com/mlt/rails/commits/bug-30846-5.2 . It also uses reduced filter for schema names.

[2019-02-26 05:24] mlt commented on #31
Hold on! I need to include similar stuff to enable triggers back :-)

[2019-03-05 02:24] mlt commented on #31
I think it is good now! Same link, same branch.

[2019-03-27 01:55] crashtech commented on #31
Hey @mlt, I'm finally with time to check this out. Was this fixed on Rails or do you think it's still a valid feature?

[2019-03-28 17:59] mlt commented on #31
It does not look like there is any action on this one upstream 😞 I personally still use it as it works for me. If you can make it into a monkey patch or something, that would be great! I just re-based both 5.2 and master branches.

[2019-04-01 22:25] mlt opened #32 "Type casting support is missing"
It would be nice to have native ranges with support for infinity with a minimum efforts.
[code]
Something along [these lines](https://stackoverflow.com/a/43175457/673826) could be worked into [a concern](https://stackoverflow.com/a/2329394/673826) or something
[code]
Then
[code]
I don't know whether there is a way to make it work with like `select_one` without explicit `#cast` call. Would be nice

[2019-04-01 22:33] mlt commented on #32
I can try to work it into a PR but it might take me quite a while 🙄 Let me know what you think.

[2019-07-13 21:32] mlt opened #33 "[request] Downgrade role after test fixtures loaded"
Here is another idea... It is a [known limitation](https://edgeguides.rubyonrails.org/testing.html#fixtures-in-action) that test environment has to use PostgreSQL superuser to be able to disable/enable triggers on fixtures loading.
I think it would be very nice if we could also issue `set role ...` to something configurable and `reset role` at appropriate time. This way we can test things as they

[2019-07-17 20:53] mlt commented on #31
Are you working on this or would you rather prefer for me to attempt to create a PR for both my requests?

[2019-07-18 04:34] crashtech commented on #31
Right now I'm not being able to work on this. I think it's worth creating a PR. I have a suggestion that might work and won't break anything.

[code]

[2019-07-18 23:05] mlt commented on #31
I think what I have does not break anything&hellip; at least for me. I do not quite follow what is the point. The only downside of my approach that it unconditionally messes with triggers for all tables in all schemas. This might be heavy, I agree. But that is what Rails is doing for *public* only anyway.
I am not sure how other approach using schema. I personally have
[code]
So if we want to mini

[2019-07-19 01:20] crashtech commented on #31
The only problem with your approach is that it breaks some Rails rules, which we should try to follow to make sure that we definitely not gonna break anything. And I also think that **SchemaAwareness** it's way easier to control and change or add behaviors.

We need to use arel and table name quoting to guarantee the best compatibility. I know it can be an overkill, but there are rules and standar

[2019-07-19 20:36] mlt commented on #31
I think you overestimate my understanding of Rails 😇 I get the whole point of doing things "right" though.

I think I created a monster 😞

[2019-08-12 02:04] crashtech commented on #32
I do have something that I'll be implementing similar to this. I needed it in a project, so I have a good solution. I'll be launching the `1.0.0` version with this okay?

[2019-08-12 02:07] crashtech commented on #33
But I didn't get the idea. Why you need another role/account when inserting fixtures?
You can always define a new connection setting and ensure that is used when your fixtures are loaded.

[2019-08-12 04:37] mlt commented on #33
Maybe I am missing something. All I know is that superuser has to be used to successfully disable referential integrity. And I want to use actual role while testing to make sure default privileges are in effects etc. How would I specify a different connection to load fixtures after all triggers are disabled?

[2019-08-12 04:41] mlt commented on #31
Also the other day I saw this https://stackoverflow.com/a/49584660/673826 but I didn't try. I wonder how neat it would be to use that.

[2019-08-18 22:18] #23 closed

[2019-08-18 22:18] #32 closed

[2019-08-19 15:40] crashtech opened #37 "[enum] Adding values raises an error due to migration transaction"
Migrations run in transactions but adding values cannot be run inside of it. Find a way to prevent them to run in this way.

[2019-08-22 00:13] #37 closed

[2019-08-22 01:07] crashtech opened #38 "For belongs_to_many, correct the way the primary key is identified through the name of the association, not exactly the name of the Model"

[2019-08-22 09:45] lyb124553153 opened #39 "add gem to gemfile, couldent start rails server"
[code]

[2019-08-25 04:12] crashtech commented on #39
Which version you tried to use?

[2019-08-25 05:12] lyb124553153 commented on #39
using rails5.2.2.1, torque-postgresql1.01
[code]

[2019-08-31 08:36] crashtech commented on #39
@lyb124553153 Can you tell me if with the version on master is everything working? Lots of changes, fixes, and improvements have been pushed to master.

[2019-09-01 04:14] lyb124553153 commented on #39
still same issue,  look like had same confict with gem form_core
[code]

[2019-09-02 20:02] jasl commented on #39
I think the problem is `torque` conflicts with AR's `enum`

[2019-09-02 20:08] jasl commented on #39
It seems could be reproduce through:

- in table it has a `int` column `accessibility`
- in model `enum accessibility: {read_and_write: 0, readonly: 1, hidden: 2}`
- `model_instance.accessibility =  "read_and_write"` will raise `undefined method 'to_sym' for 0:Integer Did you mean? to_s`
- `Model.accessibilities` will raise `NoMethodError: undefined method 'accessibilities' for #<Class:0x00007fadc

[2019-09-05 00:03] crashtech commented on #39
If that's the problem, you can do the following:
[code]

[2019-09-05 00:04] crashtech commented on #39
Try out this way and check if it works.

[2019-09-05 02:34] lyb124553153 commented on #39
solved

[2019-09-05 02:34] #39 closed

[2019-09-09 04:24] rainerborene opened #40 "Array associations bug"
Say we need to remove an existing association from a `video_ids` array column like this:
[code]
That should not be the expected behavior, right?

[2019-09-25 15:36] crashtech commented on #40
Well, the behavior seems correct. Maybe changing the architecture would it behave properly:
[code]

This for me makes more sense and would fix your issue.

[2019-11-01 23:03] crashtech commented on #40
@rainerborene Were you able to solve the problem? Can I help in any other way?

[2019-11-15 23:26] marnen opened #41 "Doesn’t work with Rails 6"
Just letting you know that this gem doesn’t work with Rails 6 yet, due to some major changes in the AR schema API. I’m working on updating it and will hopefully have a pull request fairly soon.

[2019-12-06 00:13] crashtech commented on #41
Hey @marnen! Thanks for letting me know. If I can help in any way, if you need some guidance, just let me know.

[2019-12-06 12:36] marnen commented on #41
Thanks! The change in API has made this a bit of a drag, but I’ll be back in touch with you with questions when I have more time to spend on it.

[2019-12-17 02:06] #40 closed

[2019-12-17 02:08] crashtech commented on #31
Rails 6 solves this problem, so I think there's no point to move forward with this feature. What do you think?

[2019-12-17 02:10] crashtech commented on #41
@marnen I just released a new version, which might not affect your changes, unless most of them are related to array associations. Let me know how I can help, even if it's just for some guidance.

[2019-12-17 04:17] marnen commented on #41
Thanks for the update. I need to get back to working on this, if I even bother. I’m only using Torque for duration support, so it may not be worth it for me, but OTOH I do want Torque to be available for Rails 6 projects and no one else seems to be making that happen.

[2019-12-17 17:34] crashtech commented on #41
I think that's a good idea, and I can also help you to do the fixes for Rails 6. I was thinking that maybe event creating the `v2.0.0` exclusively for Rails 6+, removing backward compatibility (but maintaining both versions 1 and 2, for a while).

Just a question, any reason why not use the other features available? I have a bunch of other features that I want to add, but not quite sure which one

[2019-12-17 18:13] marnen commented on #41
Yes, that may have to happen. There are some fairly big changes in ActiveRecord 6.

So far I haven't needed them for anything I'm doing. Also, I only recently found out about this gem in the first place. :)

[2019-12-19 21:20] smarquez1 opened #42 "Torque slows down requests"
Hi, I just installed `torque-posgresql` and while it works very well it really slows down my application.
I created a dummy Rails app with a seed file to test this, and just by including the gem my requests are being slowing down:

[code]

Tested in development using:
Rails 5.2.4
Ruby 2.5.5p157
Postgresql 12.1

Dummy Rails App: https://github.com/smarquez1/torque_test

[2019-12-20 14:20] smarquez1 commented on #42
After some debugging, I found out that this method is the reason of what's slowing down the requests. Looks like need a faster way of checking if the models table depends on any inheritance

[2019-12-22 08:45] crashtech commented on #42
Sounds very reasonable! But just checking `@inheritance_dependencies.nil?` won't work, maybe `return unless @inheritance_dependencies.nil?`, because it needs to be able to load once at least, even if that means returning an empty Hash.

I could also early return when having no dependency at all.

Another cool thing about your observation is that we could use `flamegraph` and `rack-mini-profiler` g

[2019-12-22 08:53] crashtech commented on #41
I might start some work towards Rails 6 in the next days (a new project came up, so it would be ideal to have the GEM in this project which uses Rails 6). Let me know if you can share what you have.

[2019-12-23 16:12] #42 closed

[2019-12-23 16:32] smarquez1 commented on #42
Thanks for the fix @crashtech, that was fast! After the holidays I'll look into applying those gems to the project, It'd be very interesting to learn them.

Happy holidays!

[2019-12-24 12:35] marnen commented on #41
Sure. I’ll try to do that over Christmas. Thanks for the reminder.

(BTW: it’s “gem”, not “GEM”. It’s an ordinary English word, not an acronym. :) )

[2019-12-27 22:12] marnen commented on #41
I just pushed my work at https://github.com/marnen/torque-postgresql/tree/rails-6-wip. Enjoy!

[2020-02-03 12:23] smarquez1 opened #43 "Error trying to associate records to a new model"
When I try to associate records to a new mode, I get the following ActiveRecord error:

[code]
I think that the following line is the culprit, since it tries to update the record without knowing if it's already persisted: https://github.com/crashtech/torque-postgresql/blob/master/lib/torque/postgresql/associations/belongs_to_many_association.rb#L36

[2020-02-17 18:19] #43 closed

[2020-02-17 18:19] crashtech commented on #43
Thank you for finding this problem and sending a PR
I'll add a new version with this fix

[2020-06-18 20:03] crashtech commented on #41
The new version 2 now works on Rails 6.

[2020-06-18 20:03] #41 closed

[2020-08-08 02:52] mlt commented on #31
Nope, can't confirm. It is still an issue with Rails 6.0.3.2. I've set up a sample repo to demonstrate the problem https://github.com/mlt/deleteme/commit/e69df1c65afdb670507ac6b2d736298ed84a9510

Upon succeeding re-runs, you'd see
[code]

[2020-09-03 06:05] crashtech opened #47 "[Feature] Try to use tableoid in order to distinguish records on table inheritance"
Since the column `tableoid` is available without the need of extra join or anything, it seems to be faster to use it as the source of inherited table discover.

We already use the `tableoid` as a join to `pg_class.oid` to get the table name, but maybe we can do it directly and use the number as the reference. This can also facilitate many other mappings for inheritance.

[2020-09-17 15:14] sigra opened #48 "Prepared statement bug?"
Hi. I faced with very annoying bug. Let's assume we have the following structure:

[code]

And simple models with simple relations:

[code]

Let's prepare some data:

[code]

Now, let's play with collection where first Product has one Code:

[code]

In the output both Products will have just one Code, but second Product should have 5:
[code]

Go ahead and reload our server to clear cache and do vi

[2020-09-18 06:39] sigra commented on #48
https://github.com/rails/rails/blob/5-2-stable/activerecord/lib/active_record/reflection.rb#L441

Seems that it is very logical Rails behavior. `@association_scope_cache` is created just once because it is fair for typical `has_many` relation where our query always looks like `SELECT * FROM products WHERE products.code_id = $1`.

In the case of this gem query strictly depends on the array size of

[2020-09-18 10:17] sigra commented on #48
So, the approach how to fix this is redefine original method `find_target` from `ActiveRecord::Associations::CollectionAssociation` https://github.com/rails/rails/blob/5-2-stable/activerecord/lib/active_record/associations/collection_association.rb#L304

Original:

[code]

Just remove all lines that related to statement cache and put this into `Torque::PostgreSQL::Associations::BelongsToManyAssoci

[2020-10-09 09:24] LinchSmyth commented on #48
I solved this issue in different way using `Associations::Association`:

[code]

I wonder why something like this aren't in gem already.

[2020-10-09 09:27] LinchSmyth opened #49 "polymorphic belongs_to_many?"
I wonder why current implementation of `belongs_to_many` cannot be polymorphic. Is there some restriction inside AR or is it just a lack of time to add support for it?

[2020-10-26 17:45] crashtech commented on #49
Hi @LinchSmyth. The thing with polymorphic `belongs_to_many` is that since it relies on 2 columns, it would be confusing the mapping of 2 disconnected array columns. In such a case, I would recommend you to use a join table which seems more appropriate.

[2020-10-26 17:55] crashtech commented on #48
Hi @sigra. The param bidding is actually a feature from the `pg` gem, Rails only prepares the statements to use it. Since `IN` is not an actual array, the binding could not be done as `IN $1`. That said, the easy solution from now seems to be what @LinchSmyth mentioned.

This was not implemented in this gem because where I use it we try to keep "one query per table" in any process, which pretty mu

[2020-11-13 08:51] LinchSmyth commented on #49
sorry, what is second one array column? In my case I would like to have regular `xxx_type` column, so it'll instead of `xxx_id` will just have `xxx_ids`.

[2020-12-03 13:12] crashtech commented on #49
I don't think that it would be wise to have 2 connected arrays to manage array-based`has_many` polymorphic associations. If you need that, you can always use an intermediate table and use the `has_and_belong_to_many` type of association that does support polymorphic.

[2020-12-03 13:35] LinchSmyth commented on #49
I think you didn't understand: not 2 connected arrays, just one. I don't need polymorphic resource to belong to many different reources, just to many resources of the same model. Not this:

[code]

but this:

[code]

which is how it should work IMO to be compatible with rails default `belongs_to`.

Or I just can't understand what second array column you are talking about :confused:

[2020-12-03 15:56] crashtech commented on #49
I consider the first example 2 connected arrays since the information of one is only valid with the information of the second one.
The second example doesn't quite make sense because if they will always belong to the same type, then you can just have `imageable_ids: [1, 2]` pointing out to the `posts` table.
The polymorphic behavior means `id + type`, so the first example would be the correct one,

[2020-12-31 09:27] lyb124553153 opened #51 "schema dumper will drop ceate_views"
how to use rails default ActiveRecord::SchemaDumper instead of this gem I need to watch custom functions  ,
add this gem to Gemfile AND run `rails db:migrate`

`
  create_function :trans_to, sql_definition: <<-SQL
      ...
  SQL

 create_view "receivable_statistics",  sql_definition: <<-SQL
      ..
  SQL
`
all function are gone in schema.rb
how to recover schema

[2021-01-24 10:48] yosiat opened #53 "has_many array: custom column name"
Hi,

I am doing migration in my application for normal has many to using an array.
Since my app already uses `tag_ids` in events we send any many other places, I named the new column `tags_ids`.

- Is it possible to pass specific column for has_many array?
- my current relation is `has_and_belongs_to_many` - does it supports an array?

[2021-01-24 14:24] yosiat commented on #53
looks like `belongs_to_many` does what I need. closing

[2021-01-24 14:24] #53 closed

[2021-01-24 14:27] yosiat opened #54 "belongs_to_many: associated relations are removed"
Hi!

I am trying out this gem, with `belongs_to_many` on rails 6.1, running my tests I found a bug which causes relations to be removed.

Once:

- I have a `before_save` callback which does `.count`
- ..and I do `#update` to update another column

The associated relations are removed, with the script below `test_sanity_with_callback` will fail
Both on rails 6.1 and 6.0

[code]

[2021-01-26 13:47] yosiat commented on #54
I debugged this and tried to come up with a fix, the only thing that fixed it is changed this line:
https://github.com/crashtech/torque-postgresql/blob/master/lib/torque/postgresql/autosave_association.rb#L37

From: `records = association.target.each_with_object(klass_attr)`
To: `records = association.load_target.each_with_object(klass_attr)`

But I am not sure - why this bug happens and what shou

[2021-01-27 01:06] #54 closed

[2021-01-27 01:10] crashtech commented on #48
Do you need this fix for Rails 5 as well?

[2021-01-27 01:14] crashtech commented on #51
Are you using this with another GEM? I was thinking about adding a new config for this, but the class uses `super` to maintain compatibility. Can you give me more information, like the gems that you are using?

[2021-01-27 01:16] #49 closed

[2021-01-27 01:25] crashtech commented on #54
Thanks for finding this issue. In the end, the customized `autosave_association` was not needed because the manipulation of the ids column was being executed in another place. Just a recommendation, instead of using `"Project#check_count - #{employees.count}"`, just use "Project#check_count - #{employees_ids.size}" which will give you the same result without performing another query.

[2021-01-27 10:52] yosiat commented on #54
@crashtech thanks for the fix!

About the recommendation, totally agree! I am trying to get my project working with this new association type, and then I'll do round of optimizations :)

[2021-01-27 10:56] yosiat opened #56 "belongs_to_many: don't allow to inlined"
Hi!

Working with the latest version of the gem and rails 6.1.1, I have noticed an issue:
[code]

The `employees_ids` in this case aren't persisted to the DB, this the query that is running:
[code]

Looks like that `concat_records`is called - https://github.com/crashtech/torque-postgresql/blob/master/lib/torque/postgresql/associations/belongs_to_many_association.rb#L94
`result` is an array of empl

[2021-01-27 13:16] lyb124553153 commented on #51
gem senic
I guess it's conflict with https://github.com/scenic-views/scenic/blob/main/lib/scenic/schema_dumper.rb

[2021-01-27 16:08] yosiat commented on #56
I found some more issues here,
[code]

In before_create in some cases the ids are present, other cases they are null, and other cases objects `self.employees` is empty while the ids have content

[2021-01-28 22:13] crashtech commented on #56
Thanks for finding these issues. I'm working on improving the `belongs_to_many` association manipulation.

[2021-01-29 07:46] crashtech commented on #56
Hi @yosiat, can you give it a try with the version on master? I rethought the association and rewrite it. Mixing `has_many` and `belongs_to` is quite complicated, I was also attempting not to perform multiple updates within operations like `concat` and `replace`. The master branch now contains the most refined version. Let me know if you find any other issues so I can add them to the same release.

[2021-01-29 11:28] yosiat commented on #56
@crashtech I am trying to run this test - https://github.com/crashtech/torque-postgresql/issues/56#issuecomment-768392498 and it fails for me in master.

[code]

[2021-01-29 11:58] yosiat commented on #56
This failure:
[code]

Happens because we to `_write_attribute` a symbol and not a string, there is `write_attribute` which handles this conversion (from Symbol to String)

[2021-01-29 17:33] crashtech commented on #56
Okay, I see how having another association causes the error. I added another test and it should be fixed now. Give it a try with master `13207fd`. Sorry for the back and forth :disappointed:

[2021-01-29 18:03] yosiat commented on #56
Trying with latest master, and those tests pass but the tests in my project don't pass for some reason.
I have an `after_initialize` in my department model when I comment it out - the employees are persisted to DB, when I have the after_initialize which access `project.employees` the employees aren't persisted.

I am trying to reproduce this with those tests, but it's hard some else is causing an

[2021-01-29 18:12] crashtech commented on #56
Okay! Let me know about your findings or if there is any other way I can help. I'll wait for your feedback to push the new version.

[2021-01-29 18:17] crashtech commented on #51
`Scenic` is supported by this gem, but FX is not. I'll add support to it. Are you using Rails 5 or 6?

[2021-01-30 03:57] lyb124553153 commented on #51
rails 5

[2021-01-30 04:22] crashtech commented on #51
Can you give it a try with [master_v1](https://github.com/crashtech/torque-postgresql/tree/master_v1) branch?

[2021-01-30 04:59] lyb124553153 commented on #51
well done! all_views rollback, but custom create_aggreates still missed which I guess defined in
[create_aggreate](https://github.com/mirahtech/fx/blob/feature/aggregates/lib/fx/adapters/postgres/aggregates.rb)
[dumper](https://github.com/mirahtech/fx/blob/feature/aggregates/lib/fx/schema_dumper/aggregate.rb)

![image](https://user-images.githubusercontent.com/12408090/106347576-b00e3800-62fa-11eb

[2021-01-30 05:05] crashtech commented on #51
Just pushed another commit. Let me know if works and I can push the new version

[2021-01-30 05:53] lyb124553153 commented on #51
[code]

[2021-01-30 05:55] crashtech commented on #51
My bad. I added a new method to better organize such compatibility related methods and I forgot to send forward the `stream`.

[2021-01-30 06:09] lyb124553153 commented on #51
`Using torque-postgresql 1.1.7 from https://github.com/crashtech/torque-postgresql.git (at master_v1@0c8e634)`

still miss 'create_aggregate'
![image](https://user-images.githubusercontent.com/12408090/106348896-c02b1500-6304-11eb-80cf-216db00cb1a6.png)

[2021-01-30 06:15] crashtech commented on #51
Please, ensure to be using:
`torque-postgresql 1.1.7 from https://github.com/crashtech/torque-postgresql.git (at master_v1@496f8bb)`

[2021-01-30 06:22] lyb124553153 commented on #51
thans, problem solved

[2021-01-30 06:22] #51 closed

[2021-01-30 06:23] crashtech commented on #51
Great!

[2021-01-30 14:14] yosiat commented on #56
Doing some debug session and I am finding some interesting things, I added logs in torque & rails.

- Test script: https://gist.github.com/yosiat/37371424bb12236c0a4bb150bc8533ec (see `torque_bug.rb`)
- My app: doing the same exact thing, I removed all callbacks & relations from all models to clear noise.

What I find, is that in the `Department` model, I have `after_initalize` which does `project

[2021-01-30 15:16] yosiat commented on #56
Found another issue - after I do `project.save`, I am adding `project.update(title: "something")`
After this commit - https://github.com/crashtech/torque-postgresql/commit/43ab8f9f134ccdf042d1844ffed343789383e341 , the `previous_changes` and `saved_changes` in after_commit are empty (not containing that `title` is changed)

[2021-02-02 16:38] yosiat commented on #56
@crashtech I fixed the two issues above (with an additional issue, associating in before_save) in a fork of mine, and all my tests pass.

let me know what do you think about it:
https://github.com/crashtech/torque-postgresql/compare/master...yosiat:write-ids-only-if-they-changed

If you like, I'll do a pull request and we can go from there.

[2021-02-03 22:14] crashtech commented on #56
Hey @yosiat! Just pushed more changes [`d1858e9`](https://github.com/crashtech/torque-postgresql/commit/d1858e9f864fdf881ac4e33b0a44a5188ba79fde).

One thing that got me thinking. Should changing the `target` be automatically persisted when the record is persisted or not?
For `has_many`, that is mandatory, because the data is in a different table, so the change must happen to reflect reality.
For

[2021-02-04 18:45] yosiat commented on #56
Hey @crashtech !

I checked this commit on my project and it fails multiple tests, looks like this is the cause:

[code]

`Should changing the target be automatically persisted when the record is persisted or not?` - what do you mean by that? can you give some example?

What do you think about the fork changes I wrote above ? it passes all my project tests & torque tests (and the new tests I added

[2021-02-04 19:47] crashtech commented on #56
Should something like `project.employees = FactoryBot.create_list(:employee, 5)` when the project is already saved trigger an independent `UPDATE`, or it should wait till `record.save` to be persisted? That is the question. Right now, it triggers an independent `UPDATE`, which is the behavior of `has_many`, otherwise, it would behave more like `belongs_to` and wait for the `save`, before it is per

[2021-02-04 20:29] yosiat commented on #56
About the first point, when I think about my app we are trying to do a transition from has_many to belongs_to_many so the natural fit will be autosaving, so the behaviour will be the same. When I think more generally, it makes sense than in other updates other developers will think about it as a column that you need to call `.save` on later. So a configuration parameter as you suggested + document

[2021-02-04 20:43] crashtech commented on #56
I'll later add the configuration and documentation, I think it is the best approach.

It makes sense that the default value is getting in the way.

Now, regarding the `nil`. Remember that `employees_ids` is a column, and the `belongs_to_many` has little control over it, besides storing the value on it. However, the association does have power over `employees` and the methods created for it. Theref

[2021-02-05 13:03] yosiat commented on #56
I understand your perspective and mental model, I'll need to see how I can address this - making this ids a default of null,
since it may cause multiple issues:

- On serialization, we return these ids - our clients not sure know how to handle null value here
- In application code, we use `_ids` method by rails which now may return `nil`, we can do `employees.ids`, but I believed that now I can sp

[2021-02-07 21:42] yosiat commented on #56
@crashtech I decided eventually to go with the null approach, I still need to figure out how I can handle serialization to return an empty array.

While testing master branch I found some bugs, I fixed them all here - https://github.com/crashtech/torque-postgresql/pull/57

and now all my tests pass, except the serialization tests which is ok.

[2021-02-10 07:49] crashtech commented on #56
We need to be very careful with changes like these:
https://github.com/crashtech/torque-postgresql/pull/57/files#diff-e96aa24fc03eee2df359cea33079fc130aae95ec874840dacd3134f1c5b72c37R14
https://github.com/crashtech/torque-postgresql/pull/57/files#diff-e96aa24fc03eee2df359cea33079fc130aae95ec874840dacd3134f1c5b72c37R161

Since this is a hook on an already existing concept, not always the solution i

[2021-02-11 11:08] yosiat commented on #56
@crashtech thanks for all the quick replies, fixed and feedback.

I have a PR in my project which passes all tests with the latest gem release, but since `_ids` have default of `nil` it has lots of implications to our app, and lots of defensive code was added, `employee_ids || []` in all of our app code.

Do we have any option to allow a default of empty array with a configuration toggle? or is it

[2021-02-11 17:22] crashtech commented on #56
Hi @yosiat. I spent some time thinking about this and I found a great solution. Give it a try with [`4bca9b`](https://github.com/crashtech/torque-postgresql/commit/4bca9b4debf177e8dacf570cf841f07dabfe8200).

What it does now is relying on the column default value when it becomes empty.

I won't be releasing a new version just with this change, but you can definitely use it from this commit onweard

[2021-02-12 06:54] #56 closed

[2021-02-13 14:19] yosiat opened #58 "BelongsToMany: can't reset column to empty array with defaults"
Hi,

Checked the latest commit, following the discussion here - https://github.com/crashtech/torque-postgresql/issues/56#issuecomment-777657238

[code]

I am trying to update the `employee_ids` to be an empty array, and it doesn't work.
This happens because `ids_reader` takes the ids from the target (while the target is stale)

[2021-02-25 12:10] yosiat commented on #58
@crashtech  is there something I can do to help here?

[2021-03-04 23:43] #58 closed

[2021-03-04 23:44] crashtech commented on #58
Sorry it took so long to fix this. I'm was working on a very demanding project. Publishing a new version now.

[2021-04-03 12:43] yosiat opened #59 "BelongsToMany: calls after_commit on the associated object"
Hi!

I did the migration to torque weeks ago and now I notified different behaviour other than "has_and_belongs_to_many" from rails.

[code]

When doing concat, both objects get after_commit on update calls, for Project, it makes sense since its employees_ids has changed, but for Employee, it doesn't make sense since nothing is changed there.

To overcome this after_commit callback, right now I ne

[2021-04-26 11:18] 4ndv opened #60 "deduplicated: undefined method '-@' for []:Array with Rails 6.1 and arrays with default value"
Here's test code:

[code]

Notice `array: true, default: []` in `t.bigint "employees_ids", array: true, default: []`

When calling `Project.inspect` since Rails 6.1 there is an exception in AR:

[code]

Looks like AR now tries to unfreeze `@default`, which cannot be done to an Array

[2021-04-26 11:41] 4ndv commented on #60
Also it fails on any array with such default, even without belongs_to_many:

[code]

[2021-04-29 04:06] crashtech commented on #60
I think that for Rails 6.1, anything more complex than a pure string needs now to be provided as a Proc.
Have you tried the following?
[code]

[2021-04-29 15:46] 4ndv commented on #60
Fails like this:

[code]

[2021-05-04 03:00] #59 closed

[2021-05-04 03:02] crashtech commented on #60
@4ndv, you should be able to use the stringified version of a PG array, as in:
[code]
It works with filled values `default: "{1}"`, although I do not recommend it.

[2021-05-04 03:05] crashtech commented on #59
@yosiat, I'm pushing a fix for it now. If the record is persisted, then the association will not try to save it again. That means you can have dirty records in the association. Not sure about that, but I think that is the normal behavior with the `has_many` association. If that ended up breaking things, I could check for changes in the record before triggering the `save` process.

[2021-05-04 03:09] #60 closed

[2021-05-04 06:18] 4ndv commented on #60
The problem is that we already have a lot of `[]` defaults in our DB and after upgrading rails to 6.1 it stopped working. Should we change all the defaults?

[2021-05-04 06:23] crashtech commented on #60
Yes. Unfortunately that was never officially accepted by Rails. Now, to use this new version, the change is required. There's no `-@` method on Array, and it would be wrong implementing one.

[2021-06-11 20:45] kbrock commented on #48
is it safe to close this? Rails 5.2.x is security update only? @sigra are you using rails 5.x?

[2021-06-11 20:55] crashtech commented on #48
Yes, I'm mainly keeping 5.x on security updates. But if someone needs fixes or anything I can add them there.

[2021-06-14 07:50] sigra commented on #48
A lot of people are still using Rails 5 because of hard legacy dependencies, monkey-patches and etc. So, I suppose this fix should be applied for Rails 5 too, especially it's not a big fix.

Anyway, our company has forked this gem and applied several fixes needed for us including this one. So, this issue can be closed. Anyone who faces with this issue can easily create a fork and apply [fix](https

[2021-06-14 18:33] crashtech commented on #48
@sigra Just pushed this fix. Let me know how I can help you and your company to use the gem without the fork. Maybe we can join forces using the main repo.

[2021-06-14 18:35] #48 closed

[2021-09-16 16:55] yosiat opened #62 "Rails 7 - "uninitialized constant ActiveRecord::Reflection::AssociationReflection::VALID_AUTOMATIC_INVERSE_MACROS""
Hi,

Not sure if this is too early to file bugs since it's a alpha 02 release of rails.

[code]

Remove here - https://github.com/rails/rails/commit/173a112820f86ce240d0aed2454e84dff54fe2d3

[2021-09-23 20:20] #62 closed

[2021-09-23 20:20] crashtech commented on #62
Quite an easy fix to extend the support

[2021-09-24 11:52] yosiat commented on #62
@crashtech it's not the only issue i see with rails 7, now I managed to get my test suite running and it's failing on another thing.
Do you want me to submit issues for that? or it's too early since it's alpha 2 ?

The error I have now is from AR preloader which calls `load_records` and torque makes it private method.
https://github.com/crashtech/torque-postgresql/blob/master/lib/torque/postgresql

[2021-09-28 16:12] crashtech commented on #62
I think it's a bit early to do preparations for Rails 7 in this line. That particular area tends to change a lot from version to version. Let's wait for the official release and see if that will require Torque v3 or just some minor changes.

[2021-09-29 08:46] yosiat commented on #62
Totally acceptable, will wait for official rails release, thanks!

[2021-10-24 09:36] yosiat opened #63 "Ruby 3.0.2 error: when concating to relation with default scope"
Hi,

Trying to upgrade to ruby 3.0.2 and I am getting an error when I am trying to concat to `has_many` with default-scope when torque is installed:

Reproduce script:
[code]

Output (removes lines of gem install)
[code]

[2021-11-02 09:30] yosiat commented on #63
I did monkey patch for now to fix it -
[code]

The important change is `initialize` method signature, @crashtech if you want I can submit PR for that

[2021-11-08 12:22] yosiat commented on #63
@crashtech Can you please give it a look?

[2021-11-20 03:57] crashtech commented on #63
Hey, sorry for the delay, I was moving to a new place and keeping up with my work. Hard times.
I'll push a fix for this tomorrow, but just so you know, the thing is that there is no need to specify the signature of the method, a simple `def initialize(klass, *, **)` will fix the problem.

[2021-11-25 06:26] crashtech commented on #63
@yosiat it should be fixed now in the version 2.2.1

[2021-11-25 06:26] #63 closed

[2021-11-25 11:36] yosiat commented on #63
@crashtech hope everything is well with moving to new place!

Thanks for the fix and explanation I always learn from your PRs :)

[2021-12-16 09:00] yosiat commented on #62
@crashtech Rails 7 is released :)

[2022-02-03 08:33] yosiat commented on #62
@crashtech I am seeing some issues with torque and rails 7 (and currently torque is our blocker for rails 7 upgrade).

Can I open issues for rails 7 ?

[2022-03-07 10:13] yosiat opened #67 "[rails 7] preloader bug: "private method `load_records' called for""
Hi,

When running torque-postgresql with rails 7 I get this error when I am using the preloader directly:

Reproduce script:
[code]

Error:
[code]

When I comment out require & gem of torque it works as expected.

Did some "dirty" commit in my fork - https://github.com/yosiat/torque-postgresql/commit/9c5e68147a8b9f19f7996f296ab756c7d4e019a8 and it works with it

[2022-03-11 11:11] tomasc commented on #67
Hi @yosiat (cc @crashtech) thanks for this! I am also looking for a ways to make this lib compatible with Rails 7. See my PR https://github.com/crashtech/torque-postgresql/pull/65.

Would you like make a PR with your fix (even if "dirty") based on mine?

Would be great to get this all solved, it starts to be a problem that this gem is not compat. with Rails 7.

[2022-03-17 10:46] yosiat commented on #67
Hi @tomasc

The fix I did is not working 100% , we have in our CI lots of failures from -
[code]

I need to investigate this more and see what's causing the issue here, anyway I prefer @crashtech to give his opinion here.

[2022-04-03 18:35] yosiat commented on #67
update: managed to fix the issue above (with already_loaded) and issue in original posts - https://github.com/crashtech/torque-postgresql/compare/master...yosiat:rails7-preloader2

currently my app CI is failing on timestamps comparison (didn't checked if it's related to rails/torque)

[2022-04-03 22:57] crashtech commented on #67
Hey Yosi!

I have great news. I'm releasing compatibility with Rails 7 today.
I just pushed the last commit, will wait for CI and then release version 3.0.0
Lots of things changed in the enum and association areas, so it's better to bump major then adding more version conditioning.

BTW, I have plans for new features, let me know if you would like to help/opine/contribute.

Sincerely.
Carlos Ferre

[2022-04-04 00:29] crashtech commented on #67
Version 3.0.0 is released now!

[2022-04-04 00:29] #67 closed

[2022-04-04 00:29] crashtech commented on #47
Try to use type map!

[2022-04-04 05:13] tomasc commented on #67
Thanks Carlos, amazing!!

[2022-11-08 11:49] DanielHeath opened #70 "Status of the record coder?"
I'm interested in implementing support for storing arbitrary record types in rows.

I saw that lib/torque/postgresql/coder.rb was removed in cf1c46fb70fe1300e4f97d5e9f07ee6329321113 (message `remove unnecessary code`).

Do you recall whether it was working? If I get it running, would a PR be accepted?

[2022-11-09 18:52] crashtech commented on #70
Hey there. So that part of the code was removed because newer versions of the PG gem pretty much added all the support needed for the things the coder was doing. So, relying on the PG gem is better than using the previous coder.

BTW, I saw your PR and Composite type is something that I planned on adding to the gem, but using [ActiveRecord's composed_of](https://api.rubyonrails.org/classes/ActiveR

[2022-11-13 23:46] DanielHeath commented on #70
`composed_of` is for mapping multiple columns into a single struct, right? This maps a single column (containing a row value) into a struct, which is not quite the same thing (although I suppose you could use `composed_of` with a single argument).

This PR also supports instantiating instances of regular `ActiveRecord::Base` models, if they are stored in a column.

I intend to extend this to suppo